@import url('https://fonts.googleapis.com/css2?family=Changa&family=Play:wght@700&display=swap');

body {
    background-image: url(/assets/images/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h1 {
    font-family: "Play", sans-serif;
    font-size: 3.5rem;
    margin: 40px auto;
    padding: 5px;
    text-align: center;
}